# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=z/H89sa7NmAzfnR1sSan6w==,hvC9N43Iyhq5t6TQ0Z0Pbg==,koCFLKJtKBcr0Vs5GHrbsw==,CxwSoEJC9GsQA7odWBm3pg==
API_TOKEN_SALT=B4uMM0NyY6zjlhtmpHXfnQ==
ADMIN_JWT_SECRET=ODZxcuDVZtBnBsgtqrAb5w==
TRANSFER_TOKEN_SALT=8P5ol1FVcAUGMCK9pUxLAg==
ENCRYPTION_KEY=p6a++SnGNY++oip/na6KuA==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=your-heroku-postgres-host
DATABASE_PORT=5432
DATABASE_NAME=your-database-name
DATABASE_USERNAME=your-username
DATABASE_PASSWORD=your-password
DATABASE_SSL=true
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=lfPD9+m/uF7eXUxcRfgkKw==

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_ACCESS_SECRET_KEY=your-aws-secret-access-key
AWS_REGION=us-east-1
AWS_S3_BUCKET=your-bucket-name